// Variables
$font-family-sans-serif: 'Raleway', sans-serif;

// Imports
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway|Gaegu');

// Styles

input:focus { outline: none }

#searchbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    border-radius: 50px;
    border: 2px solid $gray-700;
    padding: .5rem 1rem;
    width: 35rem;
    
    &::placeholder {
      font-weight: 700;
    }
  }
}

.has-brand-font {
  font-family: 'Gaegu', cursive
}

// -> Sidebar

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 24px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: .95rem;
  width: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $white;
  cursor: pointer;
  padding-bottom: .75em;
  font-weight: 700;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}